*.a
*.o
*.Po
*.swp
Makefile
Makefile.in
.DS_Store
.RData
._.DS_Store
._.TemporaryItems
*.aux
*.log
aclocal.m4
autom4te.cache/
configure
compile
config.log
config.status
depcomp
install-sh
missing
stamp-h1
src/lib/graph/config.h
src/lib/gtf/config.h
src/lib/util/config.h
src/config.h
src/src/scallop
release/
experiments/
bin/
