*.a
*.o
*.Po
*.swp
Makefile.in
Makefile
.DS_Store
.RData
._.DS_Store
._.TemporaryItems
*.aux
*.log
aclocal.m4
autom4te.cache/
compile
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
data/*
bin/G*
bin/S*
bin/B*
bin/*
