*.a
*.o
*.Po
*.swp
Makefile
Makefile.in
.DS_Store
.RData
._.DS_Store
._.TemporaryItems
*.aux
*.log
aclocal.m4
autom4te.cache/
configure
compile
config.log
config.status
depcomp
install-sh
config.h.in
missing
stamp-h1
lib/graph/config.h
lib/gtf/config.h
lib/util/config.h
config.h
src/scallop
release/
experiments/
bin/
